@{
	ViewData["Title"] = "View Expense Sheets";
}
@model IEnumerable<FinanceApp.Models.ExpenseSheet>

<h2 class="text-center">My Expenses Sheets</h2>

<div class="container">
	<table class="table table-bordered">
		@* Header *@
		<thead class="table-light">
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Expenses</th>
			</tr>
		</thead>
		@* Body *@
		<tbody>
			@foreach (var sheet in Model)
			{
				<tr>
					<td>@sheet.Title</td>
					<td>@sheet.Description</td>
					<td>@sheet.StartDate.ToString("yyyy-MM-dd")</td>
					<td>@sheet.EndDate.ToString("yyyy-MM-dd")</td>
					<td>
						<a asp-action="Details" asp-route-id="@sheet.Id">View Expenses</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
